@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-control-zoom {
	display: none;
}

@media screen and (min-width: 990px) {
	.leaflet-control-zoom {
		display: block;
	}
}

.star-container {
	color: gold;
}

.custom-marker-class {
	filter: hue-rotate(160deg);
}
